<%= form_for comment do |f| %>
  <div class="space">
    <div>
      Content :
      <%= f.text_area :content %>
    </div>
    <div>
      <% if comment.errors[:content].present? %>
        <div><%= comment.errors[:content].to_sentence  %></div>
      <% end%>
    </div>
    <%= f.hidden_field :post_id, value: "#{params[:id]}" %>
    <%= f.hidden_field :posted_at, value: "#{Time.now}" %>
    <div>
      <%= f.submit 'Add comment', class: "btn btn-success" %>
    </div>
  </div>
<% end %>