<%= form_for @post do |f| %>
  <div class="row">
    <div class="col-md-2">
      Titre :
      <%= f.text_field :titre %>
    </div>
    <div>
      <% if @post.errors[:titre].present? %>
        <div><%= @post.errors[:titre].to_sentence  %></div>
      <% end%>
    </div>
    <div class="col-md-2">
      Publishing date :
      <%= f.date_field :date_publication %>
    </div>
    <div>
      <% if @post.errors[:date_publication].present? %>
        <div><%= @post.errors[:date_publication].to_sentence  %></div>
      <% end%>
    </div>
    <div class="col-md-10 post_new_ta_space">
      Chapeau :
      <%= f.text_area :chapeau, class: "post_form_ta" %>
    </div>
    <div>
      <% if @post.errors[:chapeau].present? %>
        <div><%= @post.errors[:chapeau].to_sentence  %></div>
      <% end%>
    </div>
    <div class="col-md-10 post_new_ta_space">
      Corps :
      <%= f.text_area :corps, class: "post_form_ta" %>
    </div>
     <div>
      <% if @post.errors[:corps].present? %>
        <div><%= @post.errors[:corps].to_sentence  %></div>
      <% end%>
    </div>
    <div class="col-md-4">
      Image :
      <%= f.file_field :image, class: "post_form_im" %>
    </div>
    <div class="col-md-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>
<%= link_to 'Back to list', [:posts], class: "btn btn-info btn_back" %>
