<h1>Post List</h1>

<% if current_user != nil %>
  <%= link_to 'new post', [:new, :post], class: "btn btn-info post_new_btn" %>
<% end %>

<ul class="group-item">
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <%= image_tag post.image.thumb.url %>
    <p>
      <%= link_to [post] do %>
        <%= post.titre %>
      <% end %>
    </p>
    <p>Posted by <%= post.author() %> le <%= post.date_publication.strftime('%d/%m/%Y') %></p>
    <p class="post_head_list"><%= post.chapeau %></p>
  </li>
  <% end %>
</ul>

<%= will_paginate @posts %>