<h1>Post List</h1>

<%= link_to 'new post', [:new, :post] %>

<ul>
  <% @posts.each do |post| %>
  <li>
    <%= image_tag post.image.thumb.url %>
    <%= link_to [post] do %>
      <%= post.titre %>
    <% end %>
    <br/>
    Posté par <%= post.author() %> le <%= post.date_publication.strftime('%d/%m/%Y') %>
    <br/>
    <i><%= post.chapeau %></i>
    </li>
  <% end %>
</ul>
