<h1><%= @post.titre %></h1>
<h2>Rédigé par <%= link_to  @post.author(), [@post.user] %> le <%= @post.date_publication.strftime('%d/%m/%Y') %> </h2>
<% if current_user == @post.user %>
  <div>
    <%= link_to 'edit', [:edit, @post] %>
    <%= link_to 'delete', @post, method: :delete, data: {confirm: "Confirmer la suppression de ce post ?"} %>
  </div>
<% end %>
<%= image_tag @post.image.url %>
<p style="font-style:italic"><%= @post.chapeau %></p>

<p><%= @post.corps %></p>

<% if current_user != nil %>
  <h2>New Comment</h2>
  Logged user : <%= current_user.full_name()%>
  <%= render partial: '/comments/form', locals: {comment: current_user.comments.build} %>
<% end %>

<h2>Comments</h2>
<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <%= link_to [comment.user] do %>
      <%= comment.author() %>
    <% end %>
    le <%= comment.posted_at.strftime('%d/%m/%Y') %>
    <br/>
    <i><%= comment.content %></i>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to list', [:posts] %>
